<%= form_for([team], remote: true) do |f| %>
  <div class="field">
    <%= f.text_field :name, required: true,placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.text_area :description, required: true, placeholder: "Description" %>
  </div>
  <div class="field">
    <%= f.text_field :logo, placeholder: "Logo" %>
  </div>
  <div class="field">
    <%= f.text_field :trainer, placeholder: "Trainer name" %>
  </div>
  <span style="display:block">Foundation Date</span>
  <div class="field">
    <%= f.date_select :foundation_date  %>
  </div>
  <br>
  <div class="actions" style="text-align:center;">
    <%= f.submit %>
  </div>
<% end %>