<table class="perfil">
  <tr>
    <td class="subject">Name:</td>
    <td class="value"><%=@team.name%></td>
  </tr>
  <tr>
    <td class="subject">Description:</td>
    <td class="value"><%=@team.description%></td>
  </tr>
  <tr>
    <td class="subject">Trainer:</td>
    <td class="value"><%=@team.trainer%></td>
  </tr>
  <tr>
    <td class="subject">Foundation date:</td>
    <td class="value"><%=@team.foundation_date%></td>
  </tr>
  <tr>
    <td class="subject">Owner:</td>
    <td class="value"><%=@team.user.username%></td>
  </tr>
</table>