<h1>Teams</h1>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th><i class="fa fa-link"></i></th>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Trainer</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr data-link="<%= team_path(team)%>">
        <td><span class="icon-go2"></span></td>
        <td>
        <% if team.logo.present? %>
          <%= cl_image_tag(team.logo.url(:thumb)) %>
        <% else %>
          <%= image_tag("/default/thumb/missing.png", class:'fotothumb') %>
        <% end %>
        </td>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= team.trainer %></td>
        <td><%= team.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table style="width: 100%;">
  <td>
  <%= link_to :back do %>
    <div class="button-back">
      <span class="icon-back"></span>
    </div>
  <% end %>
  </td>
  <td>
  <% if current_user and current_user.id? %>
  <div class="container add-team" style="width: 45px; height: 45px;">
    <%= image_tag("Add4.png", size: "45x45") %>
    <div class="overlay">
      <div class="text">ADD</div>
    </div>
  </div>
  <% end %>
  </td>
</table>
