<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table class="tabla">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Logo</th>
      <th>Trainer</th>
      <th>Foundation date</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr data-link="<%= team_path(team)%>">
        <td><%= team.id %></td>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= team.logo %></td>
        <td><%= team.trainer %></td>
        <td><%= team.foundation_date %></td>
        <td><%= team.user_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table style="width: 100%;">
  <td>
  <div class="container" style="width: 45px; height: 45px;">
    <%= link_to image_tag("Back2.png", size: "45x45"), :back, class: 'back' %>
    <div class="overlay">
      <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), root_path, class: 'back' %></div>
  </div>
</div>
  </td>
  <td>
  <% if current_user%>  
  <div class="container" style="width: 45px; height: 45px;">
    <%= link_to image_tag("Add4.png", size: "45x45"), new_team_path, class: 'back' %>
    <div class="overlay">
        <div class="text"><%= link_to "ADD", new_team_path %></div>
    </div>
  </div>
  </td>
  <% end %>
</table>