<p id="notice"><%= notice %></p>

<h1 style="color: #FFD700;font-weight: bolder;">Teams</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Logo</th>
      <th>Trainer</th>
      <th>Foundation date</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= team.logo %></td>
        <td><%= team.trainer %></td>
        <td><%= team.foundation_date %></td>
        <td><%= team.user_id %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %> 
<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), :back, class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), root_path, class: 'back' %></div>
  </div>
</div>
