<h1> Info </h1>
<br>
<table class="perfil">
  <tr>
    <td class="subject">Name:</td>
    <td class="value"><%=@team.name%></td>
  </tr>
  <tr>
    <td class="subject">Description:</td>
    <td class="value"><%=@team.description%></td>
  </tr>
  <tr>
    <td class="subject">Trainer:</td>
    <td class="value"><%=@team.trainer%></td>
  </tr>
  <tr>
    <td class="subject">Foundation date:</td>
    <td class="value"><%=@team.foundation_date%></td>
  </tr>
  <tr>
    <td class="subject">Owner:</td>
    <td class="value"><%=@team.user.username%></td>
  </tr>
</table>
<br>
<% if current_user %>
  <% if current_user.id == @team.user.id %>
    <%= link_to(edit_team_path(@team)) do %>
      <div class="button-current edit centered"><span class=icon-pencil2></span></div>
    <% end %>
  <% end %>
<% end %>
<br>
<h2>Players</h2>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="1"></th>
      <% if current_user%>
        <% if current_user.id == @team.user.id %>
            <th colspan="2"></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
      <tr id="no-link">
        <td><%= player.id %></td>
        <td><%= player.full_name %></td>
        <td class="value" id="cell-link">
          <%= link_to(team_player_path(@team,player)) do %>
            <span class="icon-go2" style="margin-right: 5px;"></span>Go
          <% end %>
        </td>
        <% if current_user%>
          <% if current_user.id == @team.user.id %>
            <td class="value" id="cell-link">
              <%= link_to(edit_team_player_path(@team,player)) do %>
                <span class="icon-go2" style="margin-right: 5px;"></span>Edit
              <% end %>
            </td>
            <td class="value" id="cell-link">
              <%= link_to(team_player_path(@team,player), method: :delete, data: { confirm: 'Are you sure?' }) do %>
                <span class="icon-go2" style="margin-right: 5px;"></span>Remove
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <% if current_user.id == @team.user.id %>
  <div class="container" style="width: 45px; height: 45px; margin:0 auto;">
    <%= link_to image_tag("Add4.png", size: "45x45"), new_team_player_path(@team), class: 'back' %>
    <div class="overlay">
        <div class="text"><%= link_to "ADD", new_team_player_path(@team) %></div>
    </div>
  </div>
  </td>
  <% end %>
<% end %>
<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), teams_path, class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), teams_path, class: 'back' %></div>
  </div>
</div>
