<p id="notice"><%= notice %></p>

<%= link_to 'Add a player to this team', new_team_player_path(@team) %>

<h1> Info </h1>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @team.logo %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @team.trainer %>
</p>

<p>
  <strong>Foundation date:</strong>
  <%= @team.foundation_date %>
</p>

<p>
  <strong>Owner</strong>
  <%= @team.user_id %>
</p>

<h2>Players</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.full_name %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
