<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @team.logo %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @team.trainer %>
</p>

<p>
  <strong>Foundation date:</strong>
  <%= @team.foundation_date %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
