<h1> Info </h1>
<br>
<div class="info-team">
  <%= render 'info_team' %>
</div>
<br>
<% if current_user %>
  <% if current_user.id == @team.user.id %>
    <%= link_to(edit_team_path(@team),remote:true) do %>
      <div class="button-current edit centered"><span class=icon-pencil2></span></div>
    <% end %>
  <% end %>
<% end %>
<br>
<h2>Players</h2>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="1"></th>
      <% if current_user%>
        <% if current_user.id == @team.user.id %>
            <th colspan="2"></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
      <tr class="no-link">
        <td><%= player.id %></td>
        <td><%= player.full_name %></td>
        <td class="value" id="cell-link">
          <%= link_to(team_player_path(@team,player)) do %>
            <span class="icon-go2" style="margin-right: 5px;"></span>Go
          <% end %>
        </td>
        <% if current_user%>
          <% if current_user.id == @team.user.id %>
            <td class="value" id="cell-link">
              <%= link_to(edit_team_player_path(@team,player)) do %>
                <span class="icon-go2" style="margin-right: 5px;"></span>Edit
              <% end %>
            </td>
            <td class="value" id="cell-link">
              <%= link_to(team_player_path(@team,player), method: :delete, data: { confirm: 'Are you sure?' }) do %>
                <span class="icon-go2" style="margin-right: 5px;"></span>Remove
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <% if current_user.id == @team.user.id %>
  <div class="container add-player" style="width: 45px; height: 45px; margin:auto;">
    <%= image_tag("Add4.png", size: "45x45") %>
    <div class="overlay">
      <div class="text">ADD</div>
    </div>
  </div>
  </td>
  <% end %>
<% end %>
<%= link_to teams_path do %>
    <div class="button-back">
      <span class="icon-back"></span>
    </div>
  <% end %>

<!-- Add Player -->
<div class="modal-background player">
  <div class="container-playerform">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <h1>Add Player</h1>
    <br>
    <%= render '/players/form', team: @team,player: Player.new %>
  </div>
</div>

<!-- Edit Team -->
<div class="modal-background edit-team">
  <div class="container-edit-team">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <h1>Edit Team</h1>
    <div class="edit-info-team">
    </div>
    <br>
  </div>
</div>