<h1> Info </h1>
<br>
<% if @team.logo.present? %>
  <div class="fotologo">
    <%= cl_image_tag(@team.logo.url(:medium)) %>
  </div>
<% else %>
  <div class="fotoperfil">
    <%= image_tag("/default/medium/missing.png", class:'fotomedium' ) %>
  </div>
<% end %>

<% if current_user %>
  <% if current_user.id == @team.user.id %>
    <br>
    <%= render 'form_logo', team: @team %>
  <% end %>
<% end %>
<br><br>
<div class="info-team">
  <%= render 'info_team' %>
</div>
<br>
<% if current_user %>
  <% if current_user.id == @team.user.id %>
    <div style="text-align: center">
      <%= link_to(edit_team_path(@team),remote:true) do %>
        <div class="button-current edit"><span class=icon-pencil2></span></div>
      <% end %>
    </div>
  <% end %>
<% end %>
<br>
<h2>Players</h2>
<br>
<table class="tabla container-players">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>ID</th>
      <th>mail</th>
      <th><i class="fa fa-link"></i> Profile</th>
      <% if current_user%>
        <% if current_user.id == @team.user.id %>
            <th><i class="fa fa-trash"></i></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
      <%= render player %>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user %>
  <% if current_user.id == @team.user.id %>
  <div class="container add-player" style="width: 45px; height: 45px; margin:auto;">
    <%= image_tag("Add4.png", size: "45x45") %>
    <div class="overlay">
      <div class="text">ADD</div>
    </div>
  </div>
  </td>
  <% end %>
<% end %>
<%= link_to teams_path do %>
    <div class="button-back">
      <span class="icon-back"></span>
    </div>
  <% end %>

<!-- Add Player -->
<div class="modal-background player">
  <div class="container-playerform">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <h1>Add Player</h1>
    <br>
    <div class="add-playerform">
      <%= render '/players/form', team: @team, player: Player.new %>
    </div>
  </div>
</div>

<!-- Edit Team -->
<div class="modal-background edit-team">
  <div class="container-edit-team">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <h1>Edit Team</h1>
    <div class="edit-info-team">
    </div>
    <br>
  </div>
</div>
