<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>
# This will now render the partial in app/views/comments/_comment.html.erb once for each comment that is in the @article.comments collection
# As the render method iterates over the @article.comments collection, it assigns each comment to a local variable named the same as the partial, 
# in this case comment which is then available in the partial for us to show.

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>