<div class="container-flex">
	<div class="left">
		<h1> Forum </h1>
		<p>
		  <strong>Title:</strong>
		  Forum of 
		  <%= link_to(tourney_path(@foro.tourney)) do %>
      	<span class="icon-go2" style="margin-right: 5px;"></span><%= @foro.tourney.name %>
    <% end %>
		</p>
		<p>
		  <strong>Description:</strong>
		  <%= @foro.description %>
		  <%= link_to(user_path(@foro.tourney.user)) do %>
      	<span class="icon-go2" style="margin-right: 5px;"></span><%= @foro.tourney.user.username %>
    	<% end %>
		</p>
			<h1>Topics</h1>
			<div class="container-topics scroll" id="scroll">
  		<%= render @topics %>
  	</div>
	</div>
</div>
<% if current_user and current_user.id? %>
	<div class="ventana-movil">
		<%= render '/topics/form' %>
	</div>
<% end %>
<br>
<%= link_to foros_path do %>
	<div class="button-back">
		<span class="icon-back"></span>
	</div>
<% end %>

<!-- Edit Topic -->
<div class="modal-background edit-topic">
  <div class="container-edit-topic">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <div class="edit-info-topic">
    </div>
    <br>
  </div>
</div>
