<div class="container-flex">
	<div class="left">
		<h1> Forum </h1>
		<p>
		  <strong>Title:</strong>
		  <%= @foro.title %>
		</p>
		<p>
		  <strong>Description:</strong>
		  <%= @foro.description %>
		</p>
			<h1>Topics</h1>
			<div class="container-topics">
  		<%= render @topics %>
  	</div>
	</div>
</div>
<div class="fixme">
	<p>
	<% if current_user and current_user.id? %>
		<h1 style="text-align: center">Create topic</h1>
		<%= form_for([@foro, @topics.build], remote: true) do |f| %>
		 <p style="text-align: center;">
		    <%= f.text_field :title, placeholder:"Tittle", style:"width: 300px;",  required: true, class:"form-tittle" %>
		  </p>
		  <p style="text-align: center;">
		    <%= f.text_area :content, placeholder:"Content", required: true, class:"form-content" %>
		  </p>
		  <p style="text-align: center;">
		    <%= f.submit "Create" , class: "submit", id: 'submit'%>
		  </p>
		<% end %>
	<% end %>
	</p>
</div>
<br>
<div class="container" style="width: 45px; height: 45px;">
	<%= link_to image_tag("Back2.png", size: "45x45"), foros_path, class: 'back' %>
	<div class="overlay">
		<div class="text"><%= link_to image_tag("Back.png", size: "45x45"), foros_path, class: 'back' %></div>
	</div>
</div>