<h1>Search</h1>
<% if @teams.length == 0 and @tourneys.length == 0 and @players.length == 0%>
  <p>No se encontraron resultados con ese nombre </p>
<% end %>

<% if @teams.length > 0 %>
<h2>Teams</h2>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Trainer</th>
      <th>Foundation date</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr data-link="<%= team_path(team)%>">
        <td><span class="icon-go2"></span></td>
        <td><%= image_tag(team.logo.url(:thumb), class:'fotothumb') %></td>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= team.trainer %></td>
        <td><%= team.foundation_date %></td>
        <td><%= team.user.username %></td>
        <!--<td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>

<% if @tourneys.length > 0 %>
<h2>Teams</h2>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Trainer</th>
      <th>Foundation date</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr data-link="<%= team_path(team)%>">
        <td><span class="icon-go2"></span></td>
        <td>
        <% if team.logo.present? %>
          <%= cl_image_tag(team.logo.url(:thumb)) %>
        <% else %>
          <%= image_tag("/default/thumb/missing.png", class:'fotothumb') %>
        <% end %>
        </td>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= team.trainer %></td>
        <td><%= team.foundation_date %></td>
        <td><%= team.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>

<% if @players.length > 0 %>
<h2>Players</h2>
<br>
<table class="tabla container-players">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>ID</th>
      <th>mail</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <%= render player %>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
