<div class="container-flex">
	<div class="left">
	  <h1> Topic </h1>
  	<p>
  	  <strong>Title:</strong>
  	  <%= @topic.title %>
  	</p>
  	<p>
  	  <strong>Description:</strong>
  	  <%= @topic.content %>
  	</p>
  	<h1>Comments</h1>
  	<div class="container-comments scroll" id="scroll">
  		<%= render @comments %>
  	</div>
  	<br>
	</div>
</div>
<div class="fixme">
  <p>
	<% if current_user %>
		<h1 style="text-align: center;">Make a comment </h1>
		<%= form_for([@topic, @comments.build], remote:true) do |c| %>
		  <p style="text-align: center;">
		    <%= c.text_area :content,placeholder:"Content", required: true, class:"form-content" %>
		  </p>
		  <p style="text-align: center;">
		    <%= c.submit "Comment"%>
		  </p>
		<% end %>
	<% end %>
  </p>
</div>
<br>
<%= link_to foro_path(@topic.foro) do %>
	<div class="button-back">
		<span class="icon-back"></span>
	</div>
<% end %>

<!-- Edit Comment -->
<div class="modal-background edit-comment">
  <div class="container-edit-comment">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <div class="edit-info-comment">
    </div>
    <br>
  </div>
</div>