<div class="container-flex">
	<div class="left">
	  <h1> Topic </h1>
  	<p>
  	  <strong>Title:</strong>
  	  <%= @topic.title %>
  	</p>
  	<p>
  	  <strong>Description:</strong>
  	  <%= @topic.content %>
  	</p>
  	<h1>Comments</h1>
  	<div class="container-comments">
  		<%= render @comments %>
  	</div>
	</div>
</div>
<div class="fixme">
  <p>
	<% if current_user %>
		<h1 style="text-align: center;">Make a comment </h1>
		<%= form_for([@topic, @comments.build], remote:true) do |c| %>
		  <p style="text-align: center;">
		    <%= c.text_area :content,placeholder:"Content", required: true, class:"form-content" %>
		  </p>
		  <p style="text-align: center;">
		    <%= c.submit "Comment"%>
		  </p>
		<% end %>
	<% end %>
  </p>
</div>
<br>
<div class="container" style="width: 45px; height: 45px;">
	<%= link_to image_tag("Back2.png", size: "45x45"), foros_path(@topic.foro), class: 'back' %>
	<div class="overlay">
		<div class="text"><%= link_to image_tag("Back.png", size: "45x45"), foro_path(@topic.foro), class: 'back' %></div>
	</div>
</div>