<div class="container-flex">
	<div class="left">
	  <h1> Topic </h1>
	  	<p>
	  	  <strong>Title:</strong>
	  	  <%= @topic.title %>
	  	</p>
	  	<p>
	  	  <strong>Description:</strong>
	  	  <%= @topic.content %>
	  	</p>
	  	<h1>Comments</h1>
	  	<% @topic.comments.each do |c| %>
	  	<div class="comment">
	  	  <p>
	  	    <%= c.content %>
	  	  </p>
	  	  <div class="creator">
    	  	Published by <%= c.user.username %>
  			</div>
  			<% if current_user %>
			  	<% if current_user.id == c.user.id %>
			  		<%= link_to(edit_topic_comment_path(@topic,c)) do %>
	          	<div class="button-current edit"><span class=icon-pencil2></span></div>
	          <% end %>
	          <%= link_to(topic_comment_path(@topic,c), method: :delete, data: { confirm: 'Are you sure?' }) do %>
	          	<div class="button-current delete"><span class=icon-trash></span></div>
	          <% end %>
					<% end %>
				<% end %>
		</div>	
		<% end %>
	</div>
</div>
<div class="fixme">
  <p>
	<% if current_user %>
		<h1 style="text-align: center;">Make a comment </h1>
		<%= form_for([@topic, @topic.comments.build]) do |c| %>
		  <p style="text-align: center;">
		    <%= c.text_area :content, placeholder:"Content" %>
		  </p>
		  <p style="text-align: center;">
		    <%= c.submit "Comment"%>
		  </p>
		<% end %>
	<% end %>
  </p>
</div>
<br>
<div class="container" style="width: 45px; height: 45px;">
	<%= link_to image_tag("Back2.png", size: "45x45"), foros_path(@topic.foro), class: 'back' %>
	<div class="overlay">
		<div class="text"><%= link_to image_tag("Back.png", size: "45x45"), foro_path(@topic.foro), class: 'back' %></div>
	</div>
</div>