<%= form_for(tourney) do |f| %>
  <% if tourney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tourney.errors.count, "error") %> prohibited this tourney from being saved:</h2>

      <ul>
      <% tourney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= label :format, 'Formato' %>
    <table>
      <tr>
        <td><%= f.radio_button :format, 'Playoffs', :checked => true %><%= label :format, 'Playoffs' %></td>
        <td><%= f.radio_button :format, 'Torneo' %><%= label :format, 'Torneo' %></td>
      </tr>
  </table>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, required: true %>
  </div>

  <div class="field">
    <%= f.label :inscription_limit_date %>
    <%= f.date_select :inscription_limit_date, required: true %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, required: true %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, required: true %>
  </div>

  <div class="field">
    <%= f.label :schedule  %>
    <%= f.time_select :schedule, :ignore_date => true %>
  </div>

  <div class="field">
    <%= f.label :prize%>
    <%= f.text_area :prize, required: true %>
  </div>

  <div class="field">
    <%= f.label :mail %>
    <%= f.email_field :mail, required: true %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, required: true %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, required: true %>
  </div>

  <div class="field" style="visibility: hidden;">
    <%= f.text_field :user_id, value:current_user.id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
