<% participants = Hash.new %>
<% @tourney.teams.each do |participant| %>
  <% participants[participant] = @tourney.matches.won_by(participant).count*3+@tourney.matches.draws(participant).count%>
<% end %>
<% participants = participants.sort_by {|_key, value| -value} %>
<h1 style="margin-left: 30px;">Posiciones</h1>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
      <th>Matches played</th>
      <th>Victories</th>
      <th>Defeats</th>
      <th>Draws</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% pos = 1 %>
    <% participants.each do |participant| %>
      <tr class="no-link position" id="participant_<%= participant[0].id %>">
        <td><%= pos %></td>
        <td><%= participant[0].name%></td>
        <td><%= participant[1]%></td>
        <td><%= @tourney.matches.played_by(participant[0]).count %></td>
        <td><%= @tourney.matches.won_by(participant[0]).count %></td>
        <td><%= @tourney.matches.lost_by(participant[0]).count %></td>
        <td><%= @tourney.matches.draws(participant[0]).count %></td>
      </tr>
      <% if i+1 < participants.length%>
        <% if participants[i][1] > participants[i+1][1] %>
          <% pos += 1 %>
        <% end %>
      <% end %>
    <% i += 1%>
    <% end %>
  </tbody>
</table>
