<tr data-link="<%= tourney_path(tourney)%>">
  <td><span class="icon-go2"></span></td>
  <td><%= tourney.name %></td>
  <td><%= tourney.city %></td>
  <td><%= tourney.location %></td>
  <td><%= tourney.inscription_limit_date %></td>
  <td><%= tourney.start_date %></td>
  <td><%= tourney.end_date %></td>
  <td><%= tourney.mail %></td>
</tr>