<h1>Tourneys</h1>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
      <th>Format</th>
      <th>Inscription limit date</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Owner</th>
      <th>Phone</th>
      <th>email</th>
    </tr>
  </thead>

  <tbody>
    <% @tourneys.each do |tourney| %>
      <tr data-link="<%= tourney_path(tourney) %>">
        <td><span class="icon-go2"></span></td>
        <td><%= tourney.name %></td>
        <td><%= tourney.format %></td>
        <td><%= tourney.inscription_limit_date %></td>
        <td><%= tourney.start_date %></td>
        <td><%= tourney.end_date %></td>
        <td><%= tourney.user.username %></td>
        <td><%= tourney.phone %></td>
        <td><%= tourney.mail%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<table style="width: 100%;">
  <td>
  <div class="container" style="width: 45px; height: 45px;">
    <%= link_to image_tag("Back2.png", size: "45x45"), root_path, class: 'back' %>
    <div class="overlay">
      <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), root_path, class: 'back' %></div>
    </div>
  </div>
  </td>
  <td>
  <% if current_user%>
  <div class="container" style="width: 45px; height: 45px;">
    <%= link_to image_tag("Add4.png", size: "45x45"), new_tourney_path, class: 'back' %>
    <div class="overlay">
        <div class="text"><%= link_to "ADD", new_tourney_path %></div>
    </div>
  </div>
 <!--<div class="container add-tourney" style="width: 45px; height: 45px;">
    <%= image_tag("Add4.png", size: "45x45") %>
    <div class="overlay">
      <div class="text">ADD</div>
    </div>
  </div>-->
  </td>

  <% end %>
</table>
