<p>
  <strong>Add team to tourney:</strong>
  <br>
  <%= form_for(@tourney, url: tourney_add_team_path(@tourney), method: "post") do %>
    <%= select_tag(:team_id, options_from_collection_for_select(Team.all.collect, :id, :name)) %>
    <br>
    <%= submit_tag("Agregar") %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tourney.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tourney.description %>
</p>

<p>
  <strong>Format:</strong>
  <%= @tourney.format %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tourney.location %>
</p>

<p>
  <strong>Inscription limit date:</strong>
  <%= @tourney.inscription_limit_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tourney.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tourney.end_date %>
</p>

<p>
  <strong>Owner</strong>
  <%= @tourney.user_id %>
</p>

<p>
  <strong>Schedule</strong>
  <%= @tourney.schedule %>
</p>

<p>
  <strong>Prize</strong>
  <%= @tourney.prize%>
</p>

<p>
  <strong>Price</strong>
  <%= @tourney.price%>
</p>

<p>
  <strong>Email</strong>
  <%= @tourney.mail %>
</p>

<p>
  <strong>Phone</strong>
  <%= @tourney.phone%>
</p>
<p>
  <strong>Foro</strong>
  <%= link_to 'Foro', foro_path(@foro) %>
</p>

<% if current_user and current_user.id? %>
  <% if current_user.id == @tourney.user.id %>
  <div class="container" style="width: 45px; height: 45px; margin:0 auto;">
    <%= link_to image_tag("Edit.png", size: "45x45"), edit_tourney_path(@tourney), class: 'cruzedit' %>
    <div class="overlay2">
        <div class="text"><%= link_to "EDIT", edit_tourney_path(@tourney)%></div>
    </div>
  </div>
  <% end %>
<% end %>
<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), tourneys_path, class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), tourneys_path, class: 'back' %></div>
  </div>
</div>
