<!-- cONTENT-->
<div class="container-flex">
  <div class="left-half" id="info">
    <h1>Tourney</h1>
    <br>
    <div class="info-tourney">
      <%= render "info_tourney" %>
    </div>
    <br>
    <!-- EDIT -->
    <% if current_user %>
      <% if current_user.id == @tourney.user.id %>
        <%= link_to(edit_tourney_path(@tourney), remote: true) do %>
          <div class="button-current edit centered"><span class=icon-pencil2></span></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="right-half" style="padding-left: 20px;">
  <!-- Weather -->
  <h1>Today's Weather</h1>
  <div style="text-align: center;">
    <%= render 'weather' %>
  </div>
  <!-- EQUIPOS -->
  <%= render 'participants_on_tourney' %>
    <br>
    <!-- AGREGAR EQUIPOS AL TORNEO -->
    <div class="container-participants-form"> 
    <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>      
          <%= render 'participants/form' %>
      <% end %>
    <% end %>
    </div>
    <br>
    <!-- CREAR PARTIDO EN TORNEO -->
    <div class="container-add-match-tourney">
    <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>
        <% if @tourney.teams.length > 1 %>
          <%= render 'matches/form' %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<!-- TABLA DE PARTIDOS -->
<h1 style="margin-left: 30px;">Calendario</h1>
<br>
<%= render 'matches_on_tourney' %>

<!-- TABLA RESULTADOS -->
<br>
<div class="container-resultados">
  <%= render 'results' %>
</div>

<!-- TABLA POSICIONES -->
<br>
<% if @tourney.format == 'Torneo' %>
  <div class="container-position-table">
    <%= render 'position_table' %>
  </div>
<% end %>

<!-- Brackets -->
<div class="container-brackets">
<% if @tourney.format == 'Playoffs' %>
  <%= render 'brackets' %>
<% end %>
</div>

<%= link_to tourneys_path do %>
  <div class="button-back">
    <span class="icon-back"></span>
  </div>
<% end %>

<!-- Edit Match -->
<div class="modal-background edit-match">
  <div class="container-edit-match" style="width: 80%;">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <div class="edit-info-match">
    </div>
    <br>
  </div>
</div>

<!-- Edit Tourney -->
<div class="modal-background edit-tourney">
  <div class="container-edit-tourney">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <div class="edit-info-tourney">
    </div>
    <br>
  </div>
</div>
