<div class="container-flex">
  <div class="left" id="info">
    <h1>Tourney</h1>
    <br>
      <table class="perfil-torneo">
        <tr>
          <td class="subject">Name:</td>
          <td class="value"><%=@tourney.name %></td>
        </tr>
        <tr>
          <td class="subject">Description:</td>
          <td class="value"><%=@tourney.description %></td>
        </tr>
        <tr>
          <td class="subject">Format:</td>
          <td class="value"><%=@tourney.format %></td>
        </tr>
        <tr>
          <td class="subject">Location:</td>
          <td class="value"><%=@tourney.location %></td>
        </tr>
        <tr>
          <td class="subject">Inscription limit date:</td>
          <td class="value"><%=@tourney.inscription_limit_date%></td>
        </tr>
        <tr>
          <td class="subject">Start date:</td>
          <td class="value"><%=@tourney.start_date %></td>
        </tr>
        <tr>
          <td class="subject">End date:</td>
          <td class="value"><%=@tourney.end_date %></td>
        </tr>
        <tr>
          <td class="subject">Owner:</td>
          <td class="value"><%=@tourney.user.username %></td>
        </tr>
        <tr>
          <td class="subject">Schedule:</td>
          <td class="value"><%=@tourney.schedule.strftime("%I:%M %p") %></td>
        </tr>
        <tr>
          <td class="subject">Prize:</td>
          <td class="value"><%=@tourney.prize %></td>
        </tr>
        <tr>
          <td class="subject">Price:</td>
          <td class="value"><%=@tourney.price %></td>
        </tr>
        <tr>
          <td class="subject">Email:</td>
          <td class="value"><%=@tourney.mail %></td>
        </tr>
        <tr>
          <td class="subject">Phone:</td>
          <td class="value"><%=@tourney.phone %></td>
        </tr>
        <tr>
          <td class="subject">Forum:</td>
          <td class="value" id="cell-link">
            <%= link_to(foro_path(@foro)) do %>
              <span class="icon-go2" style="margin-right: 5px;"></span>Go
            <% end %>
          </td>
        </tr>
      </table>
      <br>
    <!-- EDIT -->
    <% if current_user %>
      <% if current_user.id == @tourney.user.id %>
        <%= link_to(edit_tourney_path(@tourney)) do %>
          <div class="button-current edit centered"><span class=icon-pencil2></span></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!-- EQUIPOS -->
  <div class="right" id="tabla">
    <h1 style="margin-left: 30px;">Teams</h1>
    <br>
    <table class="tabla">
      <thead>
        <tr>
          <th>Name</th>
          <th>Trainer</th>
          <th>Perfil</th>
          <% if current_user and current_user.id? %>
          <% if current_user.id == @tourney.user.id %>
            <th colspan="1"></th>
          <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @tourney.teams.each do |team| %>
          <tr id="no-link">
            <td><%= team.name %></td>
            <td><%= team.trainer %></td>
            <td class="value" id="cell-link">
              <%= link_to(team_path(team)) do %>
                <span class="icon-go2" style="margin-right: 5px;"></span>Go
              <% end %>
            </td>
            <% if current_user and current_user.id? %>
            <% if current_user.id == @tourney.user.id %>
            <% team_id = team.id %>
            <td class="value" id="cell-link">
                <%= link_to(tourney_participant_path(@tourney, team_id),
                method: :delete, data: { confirm: 'Are you sure?' }) do %>
                  <span class="icon-go2" style="margin-right: 5px;"></span>Remove
                <% end %>
            </td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <!-- AGREGAR EQUIPOS AL TORNEO -->
    <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>
      <% teams_select = Team.all - @tourney.teams %>
      <% if teams_select.length != 0 %>
        <h2 style="margin-left: 30px;">Add team to tourney:</h2>
        <br>
        <div style="text-align: center;">
          <%= form_for @tourney, url: tourney_participants_path(@tourney, :team_id), method: "post" do %>
            <%= select_tag(:team_id, options_from_collection_for_select(teams_select.collect, :id, :name), include_blank: true, required: true) %>
            <%= submit_tag("Add") %>
        </div>
      <% end %>
      <% end %>
      <% end %>
    <% end %>
    <br>
    <!-- CREAR PARTIDO EN TORNEO -->
    <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>
        <% if @tourney.teams.length > 1 %>
        <h2 style="margin-left: 30px;">Create match:</h2>
        <%= render 'matches/form' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- TABLA DE PARTIDOS -->
<h1 style="margin-left: 30px;">Calendario</h1>
<br>
<table class="tabla">
  <thead>
    <tr>
      <th>Date</th>
      <th>Home</th>
      <th>Aaway</th>
      <% if @tourney.format == 'Playoffs' %>
        <th>Bracket Code</th>
      <% end %>
      <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>
      <th colspan="2"></th>
      <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tourney.matches.each do |match| %>
      <% if match.home_team.present? %>
      <tr id="no-link">
        <td><%= match.date %></td>
        <td><%= match.home_team.name %></td>
        <td><%= match.away_team.name %></td>
        <% if @tourney.format == 'Playoffs' %>
        <td><%= match.bracket_code %></td>
        <% end %>
        <% if current_user and current_user.id? %>
        <% if current_user.id == @tourney.user.id %>
        <td class="value" id="cell-link">
            <%= link_to(tourney_match_path(@tourney, match),
            method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <span class="icon-go2" style="margin-right: 5px;"></span>Remove
            <% end %>
        </td>
        <td class="value" id="cell-link">
          <%= link_to(edit_tourney_match_path(@tourney, match)) do %>
            <span class="icon-go2" style="margin-right: 5px;"></span>Edit
          <% end %>
        </td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<!-- TABLA POSICIONES -->
<% if @tourney.format == 'Torneo' %>
  <%= render 'position_table' %>
<% end %>

<!-- TABLA RESULTADOS -->
<%= render 'results' %>

<!-- Brackets -->
<% if @tourney.format == 'Playoffs' %>
  <%= render 'brackets' %>
<% end %>

<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), tourneys_path, class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), tourneys_path, class: 'back' %></div>
  </div>
</div>
