<div class="container-flex">
  <div class="left" id="info">
    <h1>Tourney</h1>
    <br>
      <table class="perfil-torneo">
        <tr>
          <td class="subject">Name:</td>
          <td class="value"><%=@tourney.name %></td>
        </tr>
        <tr>
          <td class="subject">Description:</td>
          <td class="value"><%=@tourney.description %></td>
        </tr>
        <tr>
          <td class="subject">Format:</td>
          <td class="value"><%=@tourney.format %></td>
        </tr>
        <tr>
          <td class="subject">Location:</td>
          <td class="value"><%=@tourney.location %></td>
        </tr>
        <tr>
          <td class="subject">Inscription limit date:</td>
          <td class="value"><%=@tourney.inscription_limit_date%></td>
        </tr>
        <tr>
          <td class="subject">Start date:</td>
          <td class="value"><%=@tourney.start_date %></td>
        </tr>
        <tr>
          <td class="subject">End date:</td>
          <td class="value"><%=@tourney.end_date %></td>
        </tr>
        <tr>
          <td class="subject">Owner:</td>
          <td class="value"><%=@tourney.user.username %></td>
        </tr>
        <tr>
          <td class="subject">Schedule:</td>
          <td class="value"><%=@tourney.schedule %></td>
        </tr>
        <tr>
          <td class="subject">Prize:</td>
          <td class="value"><%=@tourney.prize %></td>
        </tr>
        <tr>
          <td class="subject">Price:</td>
          <td class="value"><%=@tourney.price %></td>
        </tr>
        <tr>
          <td class="subject">Email:</td>
          <td class="value"><%=@tourney.mail %></td>
        </tr>
        <tr>
          <td class="subject">Phone:</td>
          <td class="value"><%=@tourney.phone %></td>
        </tr>
        <tr>
          <td class="subject">Forum:</td>
          <td class="value"><%= link_to 'Go', foro_path(@foro), style:"color:#000;" %></td>
        </tr>
      </table>
  </div>
  <div class="right" id="tabla">        
    <h1 style="margin-left: 30px;">Teams</h1>
    <br>
    <table class="tabla">
      <thead>
        <tr>
          <th>Name</th>
          <th>Trainer</th>
          <th>Foundation Date</th>
        </tr>
      </thead>
      <tbody>
        <% @tourney.teams.each do |team| %>
          <tr data-link="<%= team_path(team) %>">
            <td><%= team.name %></td>
            <td><%= team.trainer %></td>
            <td><%= team.foundation_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <h2 style="margin-left: 30px;">Add team to tourney:</h2>
    <br>
    <div style="text-align: center;">
      <%= form_for(@tourney, url: tourney_add_team_path(@tourney), method: "post") do %>
        <%= select_tag(:team_id, options_from_collection_for_select(Team.all.collect, :id, :name)) %>
        <%= submit_tag("Add") %>
      <% end %>
    </div>
  </div>
</div>
<br>
<% if current_user and current_user.id? %>
  <% if current_user.id == @tourney.user.id %>
  <div class="container" style="width: 45px; height: 45px; margin:0 auto;">
    <%= link_to image_tag("Edit.png", size: "45x45"), edit_tourney_path(@tourney), class: 'cruzedit' %>
    <div class="overlay2">
        <div class="text"><%= link_to "EDIT", edit_tourney_path(@tourney)%></div>
    </div>
  </div>
  <% end %>
<% end %>
<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), tourneys_path, class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), tourneys_path, class: 'back' %></div>
  </div>
</div>
