<tr class="no-link" id="participant_<%= team.id %>">
  <td><%= team.name %></td>
  <td><%= team.trainer %></td>
  <td class="value" id="cell-link">
    <%= link_to(team_path(team)) do %>
      <span class="icon-go2" style="margin-right: 5px;"></span>Go
    <% end %>
  </td>
  <% if current_user and current_user.id? %>
  <% if current_user.id == @tourney.user.id %>
  <% team_id = team.id %>
  <td class="value" id="cell-link">
      <%= link_to(tourney_participant_path(@tourney, team_id),
      method: :delete, remote: true, data: { confirm: 'Are you sure?' }) do %>
        <span class="icon-go2" style="margin-right: 5px;"></span>Remove
      <% end %>
  </td>
  <% end %>
  <% end %>
</tr>