<%= form_for([user], remote: true) do |f| %>

  <div class="form-group" style=" margin: 0 auto; text-align: center;">
    <div class="field" style="text-align: center;">
      <%= f.text_field :full_name, required: true, placeholder:"Full name", autofocus: true %>
    </div>

    <div class="field" style="text-align: center;">
      <%= f.email_field :email, required: true, placeholder:"Email" %>
    </div>

    <div class="field" style="text-align: center;">
      <%= f.text_field :username, required: true, placeholder:"Username" %>
    </div>

    <div class="field" style="text-align: center;">
      <%= f.password_field :password, required: true, minlength: 6,placeholder:"Password" %>
    </div>

    <div class="field" style="text-align: center;">
      <%= f.password_field :password_confirmation, required: true, minlength: 6, placeholder:"Password confirmation" %>
    </div>

    <div class="field" style="text-align: center;"">
      <%= f.file_field :avatar, style:"width: 240px;" %>
    </div>
    <br>
    <div class="actions" style="text-align: center;">
      <%= f.submit %>
    </div>
  </div>
<% end %>
