<% if @result %>
	$("#noticia .notification").html("<%= flash[:notice] %>");
	$("#alerta .notification").html("");
	$("#mensaje .notification").html("");

	var modalBackground = $(".modal-background.sign-up");
	var containerModal = modalBackground.find(">:first-child");

	modalBackground.fadeOut(300);
	containerModal.css("transform", "scale(0.1)");
	$("#new_user").html( "<%= j render '/users/form', user: User.new %>");

	if(window.location.pathname == '/users'){
		$(".tabla.container-users").append("<%= j render 'user', user: @user %>");
		$("#user_<%= @user.id %>").hide();
		$("#user_<%= @user.id %>").css({"background-color": "#FFD700", "color":"#000"});
		$("#user_<%= @user.id %>").fadeIn(800, function(){
		$("#user_<%= @user.id %>").css({"background-color": "inherit", "color" : "#inherit"});
	});	
	}

<% else %>
	$("#new_user").html( "<%= j render '/users/form', user: @user %>");
	$("#alerta .notification").html("<% @user.errors.full_messages.each do |message| %><li><%= message %></li><% end %>");
	$("#noticia .notification").html("");
	$("#mensaje .notification").html("");
<% end %>
