<h1>Profile</h1>
<br>
<div class="fotoperfil">
  <%= image_tag(@user.avatar.url(:medium), class:'fotomedium') %>
</div>
<br><br>
<table class="perfil">
  <tr>
    <td class="subject">Full Name:</td>
    <td class="value"><%=@user.full_name %></td>
  </tr>
  <tr>
    <td class="subject">Email:</td>
    <td class="value"><%=@user.email%></td>
  </tr>
  <tr>
    <td class="subject">Username:</td>
    <td class="value"><%=@user.username%></td>
  </tr>
  <tr>
    <td class="subject">Password:</td>
    <td class="value"><%=@user.password%></td>
  </tr>
</table>
<br>
<% if current_user %>
  <% if current_user.id == @user.id %>
  <div class="container" style="width: 45px; height: 45px; margin:0 auto;">
    <%= link_to image_tag("Edit.png", size: "45x45"), edit_user_path(@user), class: 'cruzedit' %>
    <div class="overlay2">
        <div class="text"><%= link_to "EDIT", edit_user_path(@user) %></div>
    </div>
  </div>
  <% end %>
<% end %>
<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), users_path, class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), users_path, class: 'back' %></div>
  </div>
</div>