<h1>Profile</h1>
<br>
<% if current_user %>
  <% if current_user.id == @user.id %>
      <div class="button-token">Show Token</div>
      <div id="token"><%=@user.token%></div>
  <% end %>
<% end %>
<br>
<div class="fotoperfil">
  <% if @user.avatar.present? %>
    <%= cl_image_tag(@user.avatar.url(:medium)) %>
  <% else %>
    <%= image_tag("/default/medium/missing.png", class:'fotomedium' ) %>
  <% end %>
</div>
<% if current_user %>
  <% if current_user.id == @user.id %>
    <br>
    <%= render 'form_avatar', user: @user %>
  <% end %>
<% end %>
<br><br>
<div class="info-user">
  <%= render 'info_user' %>
</div>
<br>
<% if current_user %>
  <% if current_user.id == @user.id %>
    <div style="text-align: center">
      <%= link_to(edit_user_path(@user), remote: true) do %>
          <div class="button-current edit"><span class=icon-pencil2></span></div>
        
      <% end %>
    </div>
  <% end %>
<% end %>
<br>
<div class="container-flex">
  <div class="left" id="tabla">
      <h1 style="margin-left: 30px;">Teams</h1>
      <br>
      <table class="tabla">
        <thead>
          <tr>
            <th><i class="fa fa-link"></i></th>
            <th>Name</th>
            <th>Trainer</th>
            <th>Foundation Date</th>
          </tr>
        </thead>
        <tbody>
          <% @user.teams.each do |team| %>
            <tr data-link="<%= team_path(team) %>">
              <td><span class="icon-go2"></span></td>
              <td><%= team.name %></td>
              <td><%= team.trainer %></td>
              <td><%= team.foundation_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <% if current_user and current_user.id? %>
        <% if current_user.id == @user.id %>
          <div class="container add-team" style="width: 45px; height: 45px; margin:auto;">
            <%= image_tag("Add4.png", size: "45x45") %>
            <div class="overlay">
              <div class="text">ADD</div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="right" id="tabla">
      <h1 style="margin-left: 30px;"">Tourneys</h1>
      <br>
      <table class="tabla">
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Format</th>
            <th><i class="fa fa-link"></i> Profile</th>
            <th><i class="fa fa-link"></i> Forum</th>
          </tr>
        </thead>
        <tbody>
          <% @user.tourneys.each do |tourney| %>
            <tr class="no-link">
              <td><%= tourney.name %></td>
              <td><%= tourney.city %></td>
              <td><%= tourney.format %></td>
              <td class="value" id="cell-link">
                <%= link_to(tourney_path(tourney)) do %>
                  <span class="icon-go2" style="margin-right: 5px;"></span>Go
                <% end %>
              </td>
              <td class="value" id="cell-link">
                <%= link_to(foro_path(tourney.foro)) do %>
                  <span class="icon-go2" style="margin-right: 5px;"></span>Go
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
        <% if current_user and current_user.id? %>
          <% if current_user.id == @user.id %>
            <div class="container add-tourney" style="width: 45px; height: 45px; margin:auto;">
              <%= image_tag("Add4.png", size: "45x45") %>
              <div class="overlay">
                <div class="text">ADD</div>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
</div>
<br>
<%= link_to users_path do %>
  <div class="button-back">
    <span class="icon-back"></span>
  </div>
<% end %>

<!-- Edit Tourney -->
<div class="modal-background edit-user">
  <div class="container-edit-user">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <h1>Edit User</h1>
    <br>
    <div class="edit-info-user">
    </div>
    <br>
  </div>
</div>
