<%= form_for([team, team.players.build], remote: true ) do |f| %>
<div class="container-flex">
  <div class="left form">  
    <div class="field">
      <%= f.text_field :full_name, required: true, placeholder: "Full Name" %>
    </div>
    <div class="container-flex field">
      <div class="left">
      <%= f.label :position %>
      <%= f.select(:position, ['Arquero', 'Central', 'Lateral', 'Mediocampista', 'Delantero']) %>
      </div>
      <div class="right">
        <%= f.label :leg %>
        <%= f.select(:leg, ['Izquierdo', 'Derecho']) %>
      </div>
    </div>
    <div class="field" style="display:inline;">
      <%= f.email_field :email, required: true, placeholder: "Mail" %>
    </div>
  </div>
  <div class="middle form">
    <div class="field">
      <%= f.text_field :address, placeholder: "Address" %>
    </div>
    <div class="field">
      <%= f.text_field :phone, placeholder: "Phone" %>
    </div>
    <div class="field">
      <%= f.date_select :birth_date, placeholder: "Birth Date" %>
    </div>
  </div>
  <div class="right form">
    <div class="field">
      <%= f.text_field :ocupation, placeholder: "Ocupation" %>
    </div>
    <div class="field">
      <%= f.text_field :phote, placeholder: "Picture" %>
    </div>
    <br>
    <div style="text-align: center;">
      <%= f.submit %>
    </div>
  </div>
<% end %>
