<div class="fotoperfil">
  <% if @player.photo.present? %>
    <%= cl_image_tag(@player.photo.url(:medium)) %>
  <% else %>
    <%= image_tag("/default/medium/missing.png", class:'fotomedium') %>
  <% end %>
</div>
<br><br>
<table class="perfil">
  <tr>
    <td class="subject">Full Name:</td>
    <td class="value"><%= @player.full_name %></td>
  </tr>
  <tr>
    <td class="subject">Position:</td>
    <td class="value"><%= @player.position %></td>
  </tr>
  <tr>
    <td class="subject">Email:</td>
    <td class="value"><%= @player.email %></td>
  </tr>
  <tr>
    <td class="subject">Address:</td>
    <td class="value"><%= @player.address %></td>
  </tr>
  <tr>
    <td class="subject">Phone:</td>
    <td class="value"><%= @player.phone %></td>
  </tr>
  <tr>
    <td class="subject">Position:</td>
    <td class="value"><%= @player.position %></td>
  </tr>
  <tr>
    <td class="subject">Birth Date:</td>
    <td class="value"><%= @player.birth_date %></td>
  </tr>
  <tr>
    <td class="subject">Ocupation:</td>
    <td class="value"><%= @player.ocupation %></td>
  </tr>
  <tr>
    <td class="subject">Leg:</td>
    <td class="value"><%= @player.leg %></td>
  </tr>
</table>
