<h1>Edit player</h1>

<% @team = Team.find(params[:team_id]) %>

<%= form_for ([@player.team, @player]) do |f| %>

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited
        this player from being saved:
      </h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, required: true %>
  </p>

  <p>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date %>
  </p>

  <p>
    <%= f.label :ocupation %><br>
    <%= f.text_field :ocupation %>
  </p>

  <p>
    <%= f.label :phote %><br>
    <%= f.text_field :phote %>
  </p>

  <p>
    <%= f.label :leg %><br>
    <%= f.text_field :leg %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), team_path(@team), class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), team_path(@team), class: 'back' %></div>
  </div>
</div>