<h1>Info</h1>
<br>
<table class="perfil">
  <tr>
    <td class="subject">Full Name:</td>
    <td class="value"><%= @player.full_name %></td>
  </tr>
  <tr>
    <td class="subject">Position:</td>
    <td class="value"><%= @player.position %></td>
  </tr>
  <tr>
    <td class="subject">Email:</td>
    <td class="value"><%= @player.email %></td>
  </tr>
  <tr>
    <td class="subject">Address:</td>
    <td class="value"><%= @player.address %></td>
  </tr>
  <tr>
    <td class="subject">Phone:</td>
    <td class="value"><%= @player.phone %></td>
  </tr>
  <tr>
    <td class="subject">Position:</td>
    <td class="value"><%= @player.position %></td>
  </tr>
  <tr>
    <td class="subject">Birth Date:</td>
    <td class="value"><%= @player.birth_date %></td>
  </tr>
  <tr>
    <td class="subject">Ocupation:</td>
    <td class="value"><%= @player.ocupation %></td>
  </tr>
  <tr>
    <td class="subject">Leg:</td>
    <td class="value"><%= @player.leg %></td>
  </tr>
</table>
<br>

<% if current_user and current_user.id? %>
  <% if current_user.id == @player.team.user.id %>
  <div class="container" style="width: 45px; height: 45px; margin:0 auto;">
    <%= link_to image_tag("Edit.png", size: "45x45"), edit_team_player_path, class: 'cruzedit' %>
    <div class="overlay2">
        <div class="text"><%= link_to "EDIT", edit_team_player_path%></div>
    </div>
  </div>
  <% end %>
<% end %>
<div class="container" style="width: 45px; height: 45px;">
  <%= link_to image_tag("Back2.png", size: "45x45"), team_path(@player.team), class: 'back' %>
  <div class="overlay">
    <div class="text"><%= link_to image_tag("Back.png", size: "45x45"), team_path(@player.team), class: 'back' %></div>
  </div>
</div>

