<%= form_for match do |m| %>
<div class="container-edit-match"">
	<br>
	<div class="attr">
			Played: 
	</div>
	<br>
	<div style="text-align: center;">
		<%= m.select(:played, [true, false], :selected => true) %>
	</div>
	<br>
	<br>
	<div class="attr">
			Score: 
	</div>
	<br>
	<div style="text-align: center;">
		<%= match.home_team.name %>
		<%= m.select :home_goals, ((0..100).map {|i| [i,i] } << ["No limit",nil]) %>
		<%= m.select :away_goals, ((0..100).map {|i| [i,i] } << ["No limit",nil]) %>
		<%= match.away_team.name %>
		<p>
	  	<div class="actions" style="text-align: center;">
	      <%= m.submit "Edit" , style:"border: 2px solid #FFD700;"%>
	    </div>
	  </p>
	</div>
</div>
<% end %>