<%= form_for([@tourney, @tourney.matches.build]) do |f| %>

  <p>
    <%= f.label :home_team_id %>
    <%= f.select :home_team_id,
    @tourney.teams.collect { |team| [ team.name, team.id ] }, { include_blank: true }, { required: true } %>
  </p>
  <p>
    <%= f.label :away_team_id %>
    <%= f.select :away_team_id,
    @tourney.teams.collect { |team| [ team.name, team.id ] }, { include_blank: true }, { required: true } %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_select :date, required: true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
