<div class="container-flex">
  <div style="width: 45%">
  <%= form_for([match], remote: true) do |m| %>
    <h1>Edit Match</h1>
    <br>
    <div>
    	<div class="attr-half">
    			<span>Played:</span> 
    	</div>
      <div class="attr-half">
          Bracket code: 
      </div>
    </div>
    <br>
    <div>
      <div class="attr-value">
      <%= m.select(:played, [true, false]) %>
      </div>
      <div class="attr-value">
      <%= m.select(:bracket_code, @tourney.get_brackets_codes(match)) %>
      </div>
    </div>
  	<br>
     <div>
      <div class="attr-half">
          <%= match.home_team.name %> 
      </div>
      <div class="attr-half">
          <%= match.away_team.name %>
      </div>
    </div>
    <br>
    <div>
      <div class="attr-value">
      <%= m.select :home_goals, ((0..100).map {|i| [i,i] } << ["No limit",nil]) %>
      </div>
      <div class="attr-value">
      <%= m.select :away_goals, ((0..100).map {|i| [i,i] } << ["No limit",nil]) %>
      </div>
    </div>
  	<br>
  	<div class="attr">
  			Winner of penalties (in case of tie): 
  	</div>
  	<br>
  	<div style="text-align: center;">
  		<%= m.select( :winner, [nil, match.home_team.name, match.away_team.name], :selected => nil) %>
  	</div>
   	<p>
    	<div class="actions" style="text-align: center;">
        <%= m.submit "Edit"%>
      </div>
    </p>
  <% end %>
  </div>
  <div style="width: 55%">
    <%= render "/tourneys/brackets_codes" %>
</div>