<tr class="no-link" id="match_<%= match.id %>">
  <td><%= match.date %></td>
  <td><%= match.home_team.name %></td>
  <td><%= match.away_team.name %></td>
  <% if @tourney.format == 'Playoffs' %>
    <td><%= match.bracket_code %></td>
  <% end %>
    <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>
        <td class="value" id="cell-link">
          <%= link_to(tourney_match_path(@tourney, match), remote: true, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <span class="icon-go2" style="margin-right: 5px;"></span>Remove
          <% end %>
        </td>
        <td class="value" id="cell-link">
          <!--<a href="" data-remote=true id="<%= match.id %>" tourney="<%= @tourney.id %>" data-url="<%= edit_tourney_match_path(@tourney, match) %>" class="edit-match-form"><span class="icon-go2" style="margin-right: 5px;"></span>Edit</a>-->
          <%= link_to(edit_tourney_match_path(@tourney, match), remote: true) do %>
            <span class="icon-go2" style="margin-right: 5px;"></span>Edit 
          <% end %>
        </td>
      <% end %>
  <% end %>
</tr>