<% if @result %>
	$(".tabla.container-matches").append("<%= j render '/matches/match_tourney_display', match: @match %>");
	$("#match_<%= @match.id %>").hide();
	$("#match_<%= @match.id %>").css({"background-color": "#FFD700", "color": "#000"});
	$("#noticia .notification").html("<%= flash[:notice] %>");
	$("#alerta .notification").html("");
	$("#mensaje .notification").html("");
	$("#match_<%= @match.id %>").fadeIn(800, function(){
		$("#match_<%= @match.id %>").css({"background-color": "rgba(0,0,0,.3)", "color" : "#FFF"});
	});	
	$(".container-add-match-tourney").html("<%= j render 'matches/form' %>" );

<% else %>
	$("#alerta .notification").html("<% @match.errors.full_messages.each do |message| %><li><%= message %></li><% end %>");
	$("#noticia .notification").html("");
	$("#mensaje .notification").html("");
<% end %>
