<% if @result %>
	$("#match_<%= @match.id %>").css("background-color", "#FFD700");
	$("#noticia .notification").html("<%= flash[:notice] %>");
	$("#alerta .notification").html("");
	$("#match_<%= @match.id %>").fadeOut(800, function(){
		$("#match_<%= @match.id %>").remove();
	});
<% else  %>
	$("#match_<%= @match.id %>").css({"color": "red" });
	$("#match_<%= @match.id %> td.value#cell-link a").css({"color": "red" });
	$(".notificaciones").html("");
	$(".notificaciones").append("<div id=alert><%= flash[:alert] %></div>");
	$("#alerta .notification").html("<%= flash[:alert] %>");
	$("#noticia .notification").html("");
	setTimeout(
  function() 
  {
    $("#match_<%= @match.id %>").css({"color": "black"});
    $("#match_<%= @match.id %> td.value#cell-link a").css({"color": "black" });
  }, 800);
<% end %>