<% if @result %>
	$(".notificaciones").html("");
	$(".notificaciones").append("<div id=notice><%= flash[:notice] %></div>");
	$("#match_<%= @match.id %>").css("background-color", "#FFD700");
	$("#match_<%= @match.id %>").fadeOut(800, function(){
		$("#match_<%= @match.id %>").remove();
	});
<% else  %>
	$(".notificaciones").html("");
	$(".notificaciones").append("<div id=alert><%= flash[:alert] %></div>");
<% end %>