<!DOCTYPE html>
<html>
  <head>
    <title>CreaTuLiga</title>
	  <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div id="user-bar">
        <% if current_user %>
          <div class="name">Welcome, <%= current_user.username %></div>
          <%= link_to 'Logout', session_path, method: :delete, class: 'buttonl'%>
          <%= link_to 'Profile', user_path(current_user.id), class: 'buttonl'%>
        <% else %>
          <%= link_to 'Login', new_session_path, class: 'buttonl' %>
          <%= link_to 'Sign up', new_user_path, class: 'buttonl' %>
        <% end %>
	 </div>
  </head>
  <body>
     <header>
      <div id=container-logo>
        <%= link_to image_tag("Pelota.png", size: "280x280", id: 'logo'), root_path, class: 'logo' %>   
      <div>
	  <div id=titulo>
	  	   <%= link_to 'CreaTuLiga', root_path, class: 'buttont' %>
	  </div>
	  <p></p>
      <nav id="main-menu">
        <%= link_to 'Users', users_path, class: 'button' %>
        <%= link_to 'Teams', teams_path, class: 'button' %>
        <%= link_to 'Tourneys', tourneys_path, class: 'button' %>
        <%= link_to 'Foros', foros_path, class: 'button' %>
    </header>
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>" id=notice><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <hr>
      <div id="project">© CreaTuLiga 2017</div>
    </footer>
    <div class="bara-ayuda" style="position: fixed; left: 20px; top:200px; font-weight: bolder;">
      <table>
        <tr>
            <td><%= image_tag("Cruz.png", size: "45x45") %></td>
            <td> Delete</td>
        </tr>
        <tr>
            <td><%= image_tag("Back2.png", size: "45x45") %></td>  
            <td>Back</td>
        </tr>
        <tr>
            <td><%= image_tag("Edit.png", size: "45x45") %></td>
            <td>Edit</td>
        </tr>     
        <tr>
            <td><%= image_tag("Add4.png", size: "45x45") %></td>
            <td>Add</td>
        </tr>
    </div>
</body>

</html>
