<!DOCTYPE html>
<html>
  <head>
    <title>CreaTuLiga</title>
	  <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <header>
      <div id=container-logo>
        <%= link_to image_tag("Pelota.png", size: "280x280", id: 'logo'), root_path, class: 'logo' %>   
      <div>
	  <div id=titulo>
	  	   <%= link_to 'CreaTuLiga', root_path, class: 'buttont' %>
	  </div>
	  <p></p>
      <nav id="main-menu">
        <%= link_to 'Users', users_path, class: 'button' %>
        <%= link_to 'Teams', teams_path, class: 'button' %>
        <%= link_to 'Tourneys', tourneys_path, class: 'button' %>
        <%= link_to 'Forums', foros_path, class: 'button' %>
        <%= link_to 'Matches', root_path, class: 'button' %>
      </nav>
      <div style="height: 5px; clear: left;"></div>
    </header>
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>" id=notice style="font-weight: bolder;"><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <br>
      <hr>
      <div id="project">© CreaTuLiga 2017</div>
      <div style="text-align: center">
        <%= image_tag("Pelota.png", size:"35x35") %>
      </div>
    </footer>
    <div class="social">
      <ul>
        <li><a href="http://www.facebook.com" class="icon-facebook" target="_blank"></a></li>
        <li><a href="http://www.twitter.com" class="icon-twitter" target="_blank"></a></li>
        <li><a href="http://www.twitch.com" class="icon-twitch" target="_blank"></a></li>
        <li><a href="http://www.spotify.com" class="icon-spotify" target="_blank"></a></li>
        <li><a href="http://www.soundcloud.com" class="icon-soundcloud" target="_blank"></a></li>
        <li><a href="http://www.youtube.com" class="icon-youtube" target="_blank"></a></li>
      </ul>
    </div>
    <div class="user-bar">
      <ul>
        <% if current_user %>
          <li><%= link_to(user_path(current_user.id)) do %>
            <div class="user-button" id="profile"> <%= current_user.username %></div>
            <% end %>
          </li>
          <li><%= link_to(session_path, method: :delete) do %>
            <div class="user-button" id="log">Logout</div>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to(new_user_path) do %>
            <div class="user-button" id="sign-up">Sign up</div>
            <% end %>
          </li>
          <li><%= link_to(new_session_path) do %>
            <div class="user-button" id="log">Login</div>
            <% end %>
          </li>
        <% end %>
      </ul>
   </div>
</body>

</html>
